*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
}
 html {
    font-size: calc(10 * 100vw / 375);
}
@media (min-width:768px) {
     html {
          font-size: calc(10 * 100vw / 1200); /* 1200はPCカンプのコンテンツ幅 */
     }
}
@media (min-width: 1200px) {
     html {
          font-size: 62.5%;
     }
}
header{
  height: 5rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25); 
 }
  .header_img img{
     width: 16.3rem;
     height: 1.78rem
     margin: 2.64rem 19.4rem 2.5rem 1.7rem ;
 }
 .main_introduction{
     background-image: url(/assets/image/mainVIsual_sp.jpg.svg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 25rem;
 }
 .main_button_list{
     width: 25rem;
     height: 17rem;
     margin:2.5rem auto;
     
 }
 .main_button_list a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight:bold ;
     color: #fff;
}
 .main_button_list_top,
 .main_button_list_middle,
 .main_button_list_bottom{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 25rem;
     height: 4.8rem;
     margin-bottom: 1.2rem;
     border-radius: 2.5rem;
     transition: background-color 0.3s ease;
 }
 .main_button_list_top{
  background-color: #77CB33;
 }
 .main_button_list_top:hover{
     background-color: #B7E49F;
 }
 .main_button_list_middle{
    background-color: #F6AA00;
 }
 .main_button_list_middle:hover{
     background-color: #F6D700;
 }
 .main_button_list_bottom{
     background-color: #3AC8AD;
 }
 .main_button_list_bottom:hover{
     background-color: #A4E1D5;
 }
 .main_reasons_h2{
    width: 25rem;
    height: 5.6rem;
    margin: 0 auto;
    font-size: 2.7rem;
 }
 @media (min-width: 768px) {
    .main_reasons_box{
        width: 116rem;
        height: 124rem;
    }
    .main_reasons_h2{
        width: 32rem;
        margin: 0 auto;
        font-size: 2rem;
 }
    .main_reason_top,
    .main_reason_middle,
    .main_reason_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 116rem;
        height: 30rem;
        margin: 0 auto;
}
    .main_reason_middle{
     flex-direction: row-reverse;
}
 }
 span{
    color: #F11F8D;
    font-weight: bold;
 }
.main_reason_top_left_img img,
.main_reason_middle_left_img img,
.main_reason_bottom_left_img img{
  width: 34rem;
  height: 22rem;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 1.2rem;
}          
.main_reason_top_right_point,
.main_reason_middle_right_point,
.main_reason_bottom_right_point{
  width: 8.4rem;
  height: 2.6rem;
  font-size: 3rem;
  margin: 2.05rem 27.5rem 1.3rem 1.63rem;
  font-family: Poppins;
  font-weight: Bold;
  font-style: italic;
  color: #F11F8D;
}
.main_reason_top_right_h3,
.main_reason_middle_right_h3,
.main_reason_bottom_right_h3{
  font-weight: bold;
  font-size: 2rem;
}
.main_reason_top_right_h3{
    width: 26rem;
    margin: 1.9rem 9.9rem 1.6rem 1.6rem;
}
.main_reason_middle_right_h3{
 width: 34rem;
 margin: .6rem 1.9rem 1.6rem 1.6rem;
}
.main_reason_bottom_right_h3{
  width: 34rem;
  margin: 1.8rem 2.2rem 1.6rem 1.6rem;
}
.main_reason_top_right_text,
.main_reason_middle_right_text,
.main_reason_bottom_right_text{
  width: 34rem;
  height: 18rem;
  margin: 0 27rem 4rem 1.6rem;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .main_reason_top_right_text,
  .main_reason_middle_right_text,
  .main_reason_bottom_right_text{
    width: 34rem;
    height: 18rem;
    margin: 0 27rem 4rem 1.6rem;
    font-size: 1.6rem;
}
}
.main_form{
  width: 37.5rem;
  height: 21.4rem;
  background-color:rgba(255, 85, 85, 0.1)  ;
  padding-top: .1rem;
}
.main_form_text{
  width: 28.5rem;
  height: 4.2rem;
  font-size: 1.6rem;
  margin: 4.55rem 4.5rem 1.5rem 4.4rem;
  text-align: center;
}
.button{
  display: block;
  width: 30.5rem;
  height: 6.9rem;
  margin: 0 auto;
  border-radius: 3.5rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  background: linear-gradient(to right, rgba(2,113,224,1), rgba(83,162,240,1));
  border: none;
}
.main_course-purpose_h2{
  width: 17rem;
  height: 2.6rem;
  font-size: 2.8rem;
  margin: 7.2rem auto 2.7rem auto;
}
.main_course-purpose_box{
  width: 37.5rem;
  height: 127.8rem;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.tab-btn {
  width: 16.4rem;
  height: 6.6rem;
  background-color: #eee;
  border: none;
  cursor: pointer;
 border-top-left-radius: 4px;  
  border-top-right-radius: 4px; 
  color: rgba(51, 51, 51, 0.5);
  font-size: 1.8rem;
  font-weight: bold;
}
.tab-btn.active {
  width: 16.4rem;
  height: 6.6rem;
  background-color: #F2F9FF;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
}
.tab-content_box {
  list-style: none;
  padding-bottom:  6.8rem;;
  background-color:#F2F9FF ;
  margin-bottom: 5.1rem;
}
.tab-content_box_two{
  background-color: #F2F9FF;
  padding-bottom:  6.8rem;;
  background-color:#F2F9FF ;
  margin-bottom: 5.1rem;  
}
.tab-content li {
  margin-bottom: 10px;
}
.tab-content_box_img img{
  width: 34.3rem;
  height: 22rem;
  border-radius: 1.2rem;
  margin: 2.8rem 1.6rem 1.2rem 1.6rem;
  align-items: center;
}
.tab-content a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
  align-items: center;
}
.tab-content a .icon{
  width: 1.38rem;
  height: 1.18rem;
  color: #005BAC;
  margin-left: 1.6rem;
  margin-right: .82rem;
}
.tab-content a:hover {
  background-color: #f0f0f0;
}
.main_cost_h2{
  display: block;
  font-size: 2.8rem;
  font-weight: bold;
  margin: 6.4rem 0 2.3rem 0;
  text-align: center;
}
.main_cost_table{
  width: 34.3rem;
  height: 45.1rem;
  font-size: 1.6rem;
  text-align: center;
  border: 1.5px solid #ccc;
  border-bottom: .8px solid #ccc;
  border-collapse: collapse; 
  border-spacing: 0;    
  margin: 0 auto 6.4rem auto;
}
.only_one{
  background-color: #F5F5F5;
height: 6.5rem;
}
.main_cost_table th{
  font-weight: normal;
  border-bottom: .8px solid #ccc;
  border-right: .8px solid #ccc;
}
.main_cost_table td{
  border-bottom: .8px solid #ccc;
  color: #F23397;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
    font-family: monospace;
    text-align: center;
}

.amount {
  display: inline-block;
  width: 80px; /* 調整して「円」が縦に揃うように */
  text-align: right;
  font-family: monospace;
  font-size: 3rem;
}
.main_cost_table .only{
  border-bottom: .8px solid #ccc;
  color: #000;
  font-size: 1.6rem;
  font-weight: normal;
}
.main_last_top{
  background-image:url(/assets/image/pht_qa.jpg.svg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 17rem;
}
.main_last_bottom{
   background-image:url(/assets/image/pht_classrooms.jpg.svg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 17rem;
}
.main_last_text{
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  align-items: center;
  padding-top: 7.4rem;
  padding-left: 1.8rem;
}
footer small{
  display: block;
  color: #333333;
  font-size: 1.3rem;
  background-color: #DDDDDD;
  height: 8.3rem;
  text-align: center;
  padding-top: 3.2rem;
}